<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    body {
      font-family: sans;
      background-color: #202020;
      color: #e0e0e0;
    }

    .title {
      font-weight: 200;
    }
    
    .scheme__name {
      font-weight: 100;
      font-size: 20px;
      padding-left: 10px;
    }

    .color-swatch {
      padding-left: 0;
    }

    .color-swatch > .color-swatch__circle {
      border: 2px solid white;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: inline-block;
      margin-right: -25px;
    }

    hr {
      border-color: #404040;
    }
  </style>
</head>
<body>
  <h1 class="title">Base16 Builder</h1>

  <% schemes.forEach(function(scheme) { %>
    <hr></hr>
    <div class="scheme">
      <h2 class="scheme__name"><%=scheme.scheme%></h2>
      <ul class="color-swatch">
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base00%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base01%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base02%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base03%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base04%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base05%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base06%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base07%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base08%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base09%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base0A%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base0B%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base0C%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base0D%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base0E%>'></li>
        <li class="color-swatch__circle" style='background-color: #<%=scheme.base0F%>'></li>
      </ul>
    </div>
  <% }) %>

</body>
</html>
